.card-container {
  border-radius: 5px;
  box-shadow: -10px -8px #ffa44e;
  background-color: white;
}

.card-container h2 {
  font-size: 20px;
}

.card-discription {
  padding-bottom: 1.5rem;
  color: #131e25;
}
